In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict
import sqlite3

In [28]:
xl = pd.ExcelFile("Base serbe_02.10.2017.xlsx")

In [29]:
xl.sheet_names

['Feuil1']

In [30]:
df = xl.parse("Feuil1")

In [5]:
conn = sqlite3.connect("animals_db.db")
fr_anim = pd.read_sql_query("select * from Animals;", conn)
fr_v = pd.read_sql_query("select * from Sounds;", conn)

In [6]:
df.head(6)

,n°,Nom de l’animal,Nom de l'animal en serbe,verbe à l'infinitif en (votre langue),Autres animaux associés au verbe,Possibilités de traduction en français,Commentaire à la traduction,exemple d'emploi primaire,Traduction de l’exemple (en français),Traduction de l'example (en russe),...,Commentaires,Тэг,Possibilité de traduction d’emploi métaphorique en français,Hyper-catégorie de l'émetteur,Emetteur,exemple d'emploi métaphorique,Traduction de l’exemple (en français).1,Traduction du verbe en français à l'infinitif,Traduction de l'example (en russe).1,Construction d’emploi métaphorique
0,11.0,chèvre,koza,beketati > bekeće,NaN,bêler,NaN,Na litici strmoj <koza> $bekeće$. [http://www....,<La chèvre> $bêle$ sur une falaise abrupte.,На крутой горе $блеет$ <коза>.,...,NaN,человек; пение; фальшивое пение,chanter faux,NaN,ljudi (oni) > gens (ils,<Većina> onih kojima se ti diviš uglavnom meke...,<La plupart> de ceux que tu admires $chantent ...,chanter faux,"Большинство тех, кем ты восхищаешь, поют плохо.",X V
1,6.0,brebis,ovca,blejati > bleji,chèvre > koza; mouton > ovca,"bêler, pousser un bêlement",NaN,Mi spremamo makaze za <ovce> dok one $bleju$. ...,Nous préparons les cisailles pour tondre <les ...,"Мы готовим ножницы, чтобы стричь <овец>, а они...",...,NaN,человек; не звуки; пристальный взгляд,"fixer quelqu'un ou quelque chose du regard, re...",NaN,on > il (être vivant\n,<On> $bleji$ u mene kao idiot. [http://forum.s...,<Il> me $fixe constamment$ comme un idiot.,fixer constamment,Он уставился (вылупился) на меня как идиот.,X V sur Z
2,6.0,brebis,ovca,blejati > bleji,chèvre > koza; mouton > ovca,"bêler, pousser un bêlement",NaN,NaN,NaN,NaN,...,NaN,человек; не звуки; терять время,"perdre son temps, gâcher un temps précieux que...",NaN,mi > nous (êtres vivants\n,Ne isplati se više kod Markove $blejati$ zbog ...,Cela ne vaut plus la peine de $traîner$ au mar...,traîner,Не стоит тратить время на рынок у церкви Сан-М...,X V C
3,1.0,abeille,pčela,"brujati > bruji (sg), bruje (pl)",insectes > insekti,bourdonner,NaN,"<Pčele> $bruje$, obilaze voće, sišu slatki sok...",<Les abeilles> $bourdonnent$ en butinant de fl...,"<Пчелы> $жужжат$, перелетая от цветка к цветку...",...,NaN,природа; ветер,bruit du vent (souffler en émettant un bruit f...,NaN,vetar > vent,Vetar bruji. [http://songoh.com/mp3/tu-no-veta...,Le vent souffle.,souffler,Ветер воет.,X V
4,1.0,abeille,pčela,"brujati > bruji (sg), bruje (pl)",insectes > insekti,bourdonner,NaN,NaN,NaN,NaN,...,NaN,Человек; шум в голове,sensation localisée de malaise ou d'inconfort ...,NaN,glava > tête,Mučne misli mi bruje u glavi: Hoću li imati do...,Les pensées angoissantes tournaient (litt. ‘vr...,tourner // avoir le bourdonnement,Мучительные мысли роились в моей голове: Будет...,X V Loc // X V loc
5,1.0,abeille,pčela,"brujati > bruji (sg), bruje (pl)",insectes > insekti,bourdonner,NaN,NaN,NaN,NaN,...,NaN,множественный субъект; шум толпы,"faire parler de quelqu'un, de quelque chose; p...",NaN,internet > Internet,Celi internet bruji zbog njene fotografije.[h...,Tout Internet fait le buzz à cause de sa photo...,faire le buzz,Из-за этой фотографии шумит весь интернет.,X V C

In [7]:
df.columns.values

array(['n°', 'Nom\xa0de l’animal', "Nom de l'animal en serbe",
       "verbe à l'infinitif en (votre langue)",
       'Autres animaux associés au verbe',
       'Possibilités de traduction en français',
       'Commentaire à la traduction', "exemple d'emploi primaire",
       'Traduction de l’exemple (en français)',
       "Traduction de l'example (en russe)", 'construction',
       'Commentaires', 'Тэг',
       'Possibilité de traduction d’emploi métaphorique en français',
       "Hyper-catégorie de l'émetteur", 'Emetteur',
       "exemple d'emploi métaphorique",
       'Traduction de l’exemple (en français).1',
       "Traduction du verbe en français à l'infinitif",
       "Traduction de l'example (en russe).1",
       'Construction d’emploi métaphorique'], dtype=object)

In [31]:
example_serbe = pd.DataFrame(columns=['infin_id', 'subject', 'example', 'rus'])

for i in range(len(df)):
    example = df["exemple d'emploi métaphorique"][i]
    verb = df["verbe à l'infinitif en (votre langue)"][i].split(' > ')[0]
    subject = df["Nom de l'animal en serbe"][i]
    rus = df["Traduction de l'example (en russe).1"][i]
    example_serbe.loc[i] = [verb.strip(), subject, example, rus]

In [223]:
example_serbe = pd.DataFrame(columns=['infin_id', 'subject', 'subj_fr', 'example', 'fr'])

for i in range(len(df)):
    example = df["exemple d'emploi métaphorique"][i]
    verb = df["verbe à l'infinitif en (votre langue)"][i].split(' > ')[0]
    try:
        subject, subj_fr = df["Emetteur"][i].split(' > ')
        subject = subject.split(' (')[0]
        subj_fr = subj_fr.split(' (')[0]
    except:
        subject = df["Emetteur"][i]
        subj_fr = df["Emetteur"][i]
    fr = df["Traduction de l’exemple (en français).1"][i]
    example_serbe.loc[i] = [verb.strip(), subject, subj_fr, example, fr]

In [222]:
len(example_serbe)

56

In [32]:
example_serbe = example_serbe.dropna()
example_serbe = example_serbe.reset_index(drop=True)

In [33]:
example_serbe.head()

,infin_id,subject,example,rus
0,beketati,koza,<Većina> onih kojima se ti diviš uglavnom meke...,"<Большинство> тех, кем ты восхищаешь, $поют$ п..."
1,blejati,ovca,<On> $bleji$ u mene kao idiot. [http://forum.s...,<Он> $уставился (вылупился)$ на меня как идиот.
2,blejati,ovca,Ne isplati se više kod Markove $blejati$ zbog ...,Не стоит $тратить время$ на рынок у церкви Сан...
3,brujati,pčela,<Vetar> $bruji$. [http://songoh.com/mp3/tu-no-...,<Ветер> $воет$.
4,brujati,pčela,<Mučne misli> mi $bruje$ u glavi: Hoću li imat...,Мучительные <мысли> $роились$ в моей голове: Б...

In [34]:
verbs = pd.read_sql_query("select * from Verbs WHERE lang_id=2;", conn)

In [35]:
def change(example):
    example = example.replace(">", '</b></font>', 1)
    example = example.replace("<", '<font color="blue"><b>', 1)
    example = example.replace("$", '<font color="red"><b>', 1)
    example = example.replace("$", '</b></font>', 1)
    example = example.replace("[", '<font color="gray" size="1"><p align="right">', 1)
    example = example.replace("]", '</font></p>', 1)
    return example

In [36]:
for i in range(len(example_serbe)):
    example_serbe.infin_id[i] = int(verbs[verbs.infin == example_serbe.infin_id[i]].id)
    example = example_serbe.example[i]
    example_serbe.example[i] = change(example)
    rus = example_serbe.rus[i]
    example_serbe.rus[i] = change(rus)

In [37]:
example_serbe.head()

,infin_id,subject,example,rus
0,116,koza,"<font color=""blue""><b>Većina</b></font> onih k...","<font color=""blue""><b>Большинство</b></font> т..."
1,117,ovca,"<font color=""blue""><b>On</b></font> <font colo...","<font color=""blue""><b>Он</b></font> <font colo..."
2,117,ovca,"Ne isplati se više kod Markove <font color=""re...","Не стоит <font color=""red""><b>тратить время</b..."
3,111,pčela,"<font color=""blue""><b>Vetar</b></font> <font c...","<font color=""blue""><b>Ветер</b></font> <font c..."
4,111,pčela,"<font color=""blue""><b>Mučne misli</b></font> m...","Мучительные <font color=""blue""><b>мысли</b></f..."

In [229]:
# убираем уже сущ примеры

example_serbe = example_serbe[~example_serbe.infin_id.isin([111, 112, 113, 114, 134])]
example_serbe = example_serbe.reset_index(drop=True)

In [211]:
#example_serbe.example[12]

In [139]:
#example_serbe.example[12] = '<font color="blue"><b>Grlica</b></font> <font color="red"><b>guguče</b></font> u ladu o čempresa. [http://www.katolici.org/katekizam.php?action=c_vidi&id=10585] '

In [39]:
# записываем в бд Examples_serbe

ex_serbe = pd.read_sql_query("select * from Examples_russe;", conn)

c = conn.cursor()

#index = ex_serbe['id'][len(ex_serbe)-1]
sent = 670
index = 586
print(index)

for i in range(len(example_serbe)):
    index += 1
    sent += 1
    insert = "REPLACE INTO Examples_russe VALUES ("+str(index)+","+str(sent)+","+str(0)+",' ',"+str(0)+",'"+example_serbe.rus[i]+"')" 
    c.execute(insert)
    conn.commit()

586

In [212]:
# записываем в бд Examples_serbe

ex_serbe = pd.read_sql_query("select * from Examples_serbe;", conn)

c = conn.cursor()

index = ex_serbe['id'][len(ex_serbe)-1]
print(index)

for i in range(len(example_serbe)):
    index += 1
    insert = "REPLACE INTO Examples_serbe VALUES ("+str(index)+","+str(index)+","+str(example_serbe.infin_id[i])+",'"+example_serbe.subject[i]+"',"+str(0)+",'"+example_serbe.example[i]+"')" 
    c.execute(insert)
    conn.commit()

215

OperationalError: near "čempresa": syntax error

In [232]:
# записываем в бд Examples_français

ex_fr = pd.read_sql_query("select * from Examples_français;", conn)

c = conn.cursor()

#index = ex_fr['id'][len(ex_fr)-1]
#print(index)
sent = 138
index = 146

for i in range(len(example_serbe)):
    index += 1
    sent += 1
    insert = "REPLACE INTO Examples_français VALUES ("+str(index)+","+str(sent)+","+str(0)+",'"+example_serbe.subj_fr[i]+"',"+str(0)+",'"+example_serbe.fr[i]+"')" 
    try:
        c.execute(insert)
    except:
        print(insert)
        insert = "REPLACE INTO Examples_français VALUES ("+str(index)+","+str(sent)+","+str(0)+",'"+example_serbe.subj_fr[i]+"',"+str(0)+",'"+''+"')" 
        c.execute(insert)
    conn.commit()

REPLACE INTO Examples_français VALUES (147,139,0,'gens',0,'<font color="blue"><b>La plupart</b></font> de ceux que tu admires <font color="red"><b>chantent faux</b></font> (litt. 'bêlent'). ')
REPLACE INTO Examples_français VALUES (150,142,0,'moto ',0,'Les 6-7 derniers jours j'ai l'impression que <font color="blue"><b>ma moto</b></font> fait un bruit plus fort, elle <font color="red"><b>gronde</b></font>. // Lorsque je roule à 50km par heure, derrière on entend un gros bruit. ')
REPLACE INTO Examples_français VALUES (153,145,0,'Milica
',0,'<font color="blue"><b>Milica</b></font> a lu le message et s'est mise à <font color="red"><b>crier</b></font> de joie. ')
REPLACE INTO Examples_français VALUES (155,147,0,'viande',0,'Mettez la viande sur le feu et attendez qu'<font color="blue"><b>elle</b></font> commence à <font color="red"><b>grésiller</b></font>…')
REPLACE INTO Examples_français VALUES (156,148,0,'enfant
',0,'Quand <font color="blue"><b>l'enfant</b></font> revoit sa maman absente depuis quelque temps, il peut aller vers elle, lui tendre ses bras et <font color="red"><b>gazouiller</b></font> de joie, c'est-à-dire il  réagit de façon qui lui n'était pas propre auparavant. ')
REPLACE INTO Examples_français VALUES (164,156,0,'je',0,'Tu es restée mon premier grand amour, <font color="blue"><b>je</b></font> t'en ai <font color="red"><b>chanté</b></font> en poésie. ')
REPLACE INTO Examples_français VALUES (165,157,0,'océan',0,'<font color="blue"><b>L'océan</b></font> <font color="red"><b>se déchaîne</b></font>.')
REPLACE INTO Examples_français VALUES (167,159,0,'bébés',0,'<font color="blue"><b>Les bébés</b></font> m'entendent, se réjouissent, frôlent mes mains et <font color="red"><b>sourient</b></font> drôlement. ')
REPLACE INTO Examples_français VALUES (169,161,0,'mlin > moulin / ventil > valve
',0,'<font color="blue"><b>Le moulin</b></font> <font color="red"><b>fonctionne bien</b></font> (litt. '$fait clic-clic$'), mais il n'y a pas de farine. //  <La valve hydrolique> $fait du bruit$ parce qu'il y a une fuite d'huile. ')
REPLACE INTO Examples_français VALUES (171,163,0,'il',0,' Quand il a vu que j'avais ouvert les yeux, <font color="blue"><b>il</b></font> s'est mis à <font color="red"><b>chanter</b></font> de gratitude et de joie, ce qui provoquaient le rire et des larmes en même temps. ')
REPLACE INTO Examples_français VALUES (172,164,0,'elle',0,'<font color="blue"><b>Elle</b></font> este ici pour m'ennuyer, me <font color="red"><b>fait un trou dans la tête avec ses remarques</b></font> et me rend folle.')
REPLACE INTO Examples_français VALUES (175,167,0,'chanteuses',0,'Brena et JK sont connues pour leurs capacités vocales hors norme, c'est-à-dire <font color="blue"><b>toutes les deux</b></font> <font color="red"><b>chantent mal</b></font>. // Dieu merci, je ne suis pas obligé d'écouter <ce chant> (litt. coassement). ')
REPLACE INTO Examples_français VALUES (176,168,0,'tu',0,'<font color="blue"><b>Tu</b></font> as <font color="red"><b>chanté faux</b></font>, plus personne ne voudra t'écouter de nouveau. ')
REPLACE INTO Examples_français VALUES (177,169,0,'haut-parleurs',0,'Ce que tu as entendu, c'est un commutateur défaillant, normalement <font color="blue"><b>les haut-parleurs</b></font> ne <font color="red"><b>gresillent</b></font> pas. ')
REPLACE INTO Examples_français VALUES (178,170,0,'ona > elle / žrtva > victime / beba > bébé',0,'<font color="blue"><b>Elle</b></font> n'aime pas rester dans la poussette, après quelques minutes elle a commencé à <font color="red"><b>crier</b></font> et à s'agiter. // Lors de la présentation du démon, le visage d'homme change, devint anormal et <la victime> peut crier, $hurler$. // On nous a dit que <le bébé> serait un monstre, qu'il ne ferait que $crier$ et rester couché. ')
REPLACE INTO Examples_français VALUES (179,171,0,'devojka > copine; ona > elle;  ona > elle; ja > je;  Cvetković > Cvetkovic',0,'<font color="blue"><b>Ma copine</b></font> <font color="red"><b>se plaint</b></font> toujours en pensant être trop grosse. // <Il> commençait à pleurer et à $gémir$ pendant que les vagues portaient la balle toujours plus loin. // <Elle> est venue $se plaindre$ à moi. // <Je> $me plains$ à tout le monde de l'humidité apparue... // <Tsvetkovic> $se plaint$ à cause de la chaleur. ')
REPLACE INTO Examples_français VALUES (182,174,0,'svekrva > belle-mère; ti > tu; muževi > hommes',0,' <font color="blue"><b>Ma belle-mère</b></font> me déteste, elle <font color="red"><b>est tout le temps sur mon dos</b></font>, entre dans mon appartement sans y être invitée. - Alors, toi aussi, <tu> n'as qu'à l'$embêter$! //  Ma femme m’$embête$ (‘caquète’) tout le temps.  // Il y a <des hommes> qui $se plaignent$ de tout à leurs femmes. ')
REPLACE INTO Examples_français VALUES (184,176,0,'ventre
',0,'J’ai quelque chose qui me tire sous la côte gauche, comme s'il bougeait, et sans cesse me <font color="red"><b>lance</b></font> dans <font color="blue"><b>le ventre</b></font>. ')
REPLACE INTO Examples_français VALUES (185,177,0,'tu',0,'Et si par hasard tu <font color="blue"><b>tu</b></font> n'es pas content, ne <font color="red"><b>critique</b></font> pas le système americain, mais change d'abord toi-même. // Je $hurle$ justement à cause de mon village. ')
REPLACE INTO Examples_français VALUES (188,180,0,'je',0,'Alors moi, pour ne pas échouer et ne pas perdre la face, je me mets à parler ainsi, c'est alors que l'enseignante commence à désespérer, tous composent déjà des syllabes, et moi, <font color="blue"><b>je</b></font> ne fais qu' <font color="red"><b>ânonner</b></font> (litt.'beugler').')
REPLACE INTO Examples_français VALUES (189,181,0,'ivrognes',0,'J'ai rencontré <font color="blue"><b>des ivrognes</b></font>, ils <font color="red"><b>mâchaient les mots</b></font>, on n'y comprenait rien mais ils se comprenaient entre eux. ')
REPLACE INTO Examples_français VALUES (191,183,0,'alarme',0,'<font color="blue"><b>L'alarme</b></font> <font color="red"><b>hurle</b></font> en signalant que la batterie est presque vide.')
REPLACE INTO Examples_français VALUES (192,184,0,'je',0,'Pour le Nouvel An, j'ai bien graissé les moustaches, j'ai mangé comme il fallait, et maintenant <font color="blue"><b>je</b></font> <font color="red"><b>suis heureux</b></font>. ')
REPLACE INTO Examples_français VALUES (194,186,0,'nous',0,'Ce qui compte, c'est de ne pas tirer la fumée du narguilé mais de <font color="red"><b>faire d'épais ronds de fumée</b></font>. ')
REPLACE INTO Examples_français VALUES (195,187,0,'marmite',0,'Devant la maison, bout sur le feu une marmite en glaise. <font color="blue"><b>Le chou et les morceaux de porc</b></font> <font color="red"><b>mijotent</b></font> là-dedans depuis l'aube.')
REPLACE INTO Examples_français VALUES (197,189,0,'océan',0,'<font color="blue"><b>L'océan</b></font> se déchaîne et <font color="red"><b>hurle</b></font>, comme s'il tonnait. ')
REPLACE INTO Examples_français VALUES (198,190,0,'chanteuse Vendi',0,'Vendi ne sait pas chanter, <font color="blue"><b>elle</b></font> <font color="red"><b>chante faux</b></font> (litt. 'mugit').')
REPLACE INTO Examples_français VALUES (201,193,0,'vent ',0,'<font color="blue"><b>Le vent sec</b></font> <font color="red"><b>souffle</b></font> en sifflant entre l'herbe.')
REPLACE INTO Examples_français VALUES (202,194,0,'elle',0,'Est-ce que tu dois toujours faire le contraire de ce que je te dis? - <font color="red"><b>dit <font color="blue"><b>elle</b></font> entre les dents</b></font> en s'adressant à lui. ')
REPLACE INTO Examples_français VALUES (205,197,0,'eau',0,'Il s'agit d'une source dont <font color="blue"><b>l'eau</b></font> jaillit sous pression et <font color="red"><b>siffle</b></font>.')
REPLACE INTO Examples_français VALUES (207,199,0,'véhicule à 3 roue',0,'La plus grande valeur de <font color="blue"><b>ce vehicule à 3 roues</b></font> est un moteur léger qui possède un son caractéristique.  - <Il> <font color="red"><b>fait le même bruit qu'une mitrailette</b></font>.  ')
REPLACE INTO Examples_français VALUES (208,200,0,'autobus',0,'Depêche-toi car <font color="blue"><b>l'autobus</b></font> <font color="red"><b>claxonne</b></font> déjà. ')
REPLACE INTO Examples_français VALUES (209,201,0,'il
',0,'Il a fallu qu' <font color="blue"><b>il</b></font> agisse au lieu de ne faire qu'en <font color="red"><b>parler partout</b></font>. // Attends en peu. N'était-ce pas, en fait, un milliard et deux cent euros que nous ont $promis$ <SNS et Mihajlovic>?! ')
REPLACE INTO Examples_français VALUES (210,202,0,'ja > je / oni (muškarci) > ils (gens) ',0,'<font color="blue"><b>Je</b></font> <font color="red"><b>hurle</b></font> sur Damien pour qu’il me dise ce qui se passe. // Ce n'était jamais clair pour moi, le comportement de <ces gens> qui $hurlent$ les uns sur les autres. //  <Le public> $hurlait$ de plaisir. ')
REPLACE INTO Examples_français VALUES (213,205,0,'bébé',0,' Il n'y a rien de pire qu'<font color="blue"><b>un bébé</b></font> qui <font color="red"><b>hurle</b></font> pendant des heures.   ')
REPLACE INTO Examples_français VALUES (217,209,0,'soliste',0,'<font color="blue"><b>Le soliste</b></font> <font color="red"><b>hurle</b></font> en essayant d'atteindre la hauteur souhaitée.')
REPLACE INTO Examples_français VALUES (218,210,0,'il',0,'Le même jour, après l'intervention chirurgicale, <font color="blue"><b>il</b></font> a mangé et a arrêté de <font color="red"><b>hurler</b></font> de douleur. ')
REPLACE INTO Examples_français VALUES (220,212,0,'grenade',0,'J'entends <font color="blue"><b>une grenade</b></font> <font color="red"><b>siffler</b></font>. ')

In [214]:
ex_fr = pd.read_sql_query("select * from Examples_français;", conn)

c = conn.cursor()

#index = ex_fr['id'][len(ex_fr)-1]
#print(index)
sent = 89
index = 97

for i in range(len(example_serbe)):
    index += 1
    sent += 1
    insert = "REPLACE INTO Examples_français VALUES ("+str(index)+","+str(sent)+","+str(0)+",'"+''+"',"+str(0)+",'"+example_serbe.fr[i]+"')" 
    try:
        c.execute(insert)
    except:
        print(insert)
        insert = "REPLACE INTO Examples_français VALUES ("+str(index)+","+str(sent)+","+str(0)+",'"+''+"',"+str(0)+",'"+''+"')" 
        c.execute(insert)
    conn.commit()

REPLACE INTO Examples_français VALUES (99,91,0,'',0,'Nous préparons les cisailles pour tondre <font color="blue"><b>les brebis</b></font> tandis qu'elles <font color="red"><b>bêlent</b></font>. ')
REPLACE INTO Examples_français VALUES (103,95,0,'',0,'J'entends <font color="blue"><b>une souris</b></font> qui <font color="red"><b>chicote</b></font> dans la cave. ')
REPLACE INTO Examples_français VALUES (104,96,0,'',0,'Dans l'herbe, <font color="red"><b>stridule</b></font> <font color="blue"><b>une cigale</b></font>. ')
REPLACE INTO Examples_français VALUES (105,97,0,'',0,'<font color="blue"><b>Les grillons</b></font> <font color="red"><b>chantent</b></font> tristement dans l'herbe.')
REPLACE INTO Examples_français VALUES (106,98,0,'',0,' Les cerisiers sont en fleurs dans mon jardin, <font color="blue"><b>les rossignols</b></font> y <font color="red"><b>chantent</b></font> et d'autres oiseaux encore jamais vus jusqu'à présent. ')
REPLACE INTO Examples_français VALUES (110,102,0,'',0,'<font color="blue"><b>La tourterelle</b></font> <font color="red"><b>roucoule</b></font> à l'ombre des cyprès. ')
REPLACE INTO Examples_français VALUES (111,103,0,'',0,'<font color="blue"><b>La colombe</b></font> <font color="red"><b>roucoule</b></font> sur la branche d'un murier.  ')
REPLACE INTO Examples_français VALUES (112,104,0,'',0,'La colombe roucoule sur la branche d'un murier.  ')
REPLACE INTO Examples_français VALUES (113,105,0,'',0,'Comme <font color="blue"><b>la chouette</b></font> <font color="red"><b>ulule</b></font> dans l'arbre! ')
REPLACE INTO Examples_français VALUES (119,111,0,'',0,'<font color="blue"><b>La grenouille</b></font> a l'habitude de rester sur une grande feuille de nénuphar dans un étang et de <font color="red"><b>coasser</b></font>.  ')
REPLACE INTO Examples_français VALUES (121,113,0,'',0,'Au-dessus de nous, <font color="blue"><b>les corbeaux</b></font> et une multitude d'autres oiseaux <font color="red"><b>poussaient des cris</b></font> qui faisaient penser à des cris de singes et à des aboiements de chiens.')
REPLACE INTO Examples_français VALUES (124,116,0,'',0,' J'entends <font color="red"><b>cancaner</b></font> <font color="blue"><b>les canards</b></font> dans la volière : quelqu'un les pourchasse.  ')
REPLACE INTO Examples_français VALUES (132,124,0,'',0,'<font color="blue"><b>Le poulet</b></font> est en train de mourir, le pauvre, il n'arrête pas de <font color="red"><b>piauler</b></font>. ')
REPLACE INTO Examples_français VALUES (133,125,0,'',0,'<font color="blue"><b>Le chat</b></font> <font color="red"><b>ronronne</b></font> et ne s'intéresse pas aux souris qui circulent partout dans la chambre. ')
REPLACE INTO Examples_français VALUES (134,126,0,'',0,'On n'entend pas <font color="red"><b>margoter (ou carcailler)</b></font> <font color="blue"><b>la caille</b></font> dans l'herbe jaunie. ')
REPLACE INTO Examples_français VALUES (135,127,0,'',0,'A l'aube, <font color="blue"><b>la caille</b></font> <font color="red"><b>margote</b></font> à tue-tête. ')
REPLACE INTO Examples_français VALUES (142,134,0,'',0,'<font color="blue"><b>Le cochon</b></font> s'est mis à <font color="red"><b>couiner</b></font> à tue-tête. ')
REPLACE INTO Examples_français VALUES (143,135,0,'',0,'La nuit, vous entendez <font color="blue"><b>le renard</b></font> <font color="red"><b>glapir</b></font> et s'approcher du poulailler, les chiens le sentent et se mettent à hurler. ')
REPLACE INTO Examples_français VALUES (148,140,0,'',0,'On sait que <font color="blue"><b>les perroquets</b></font> savent imiter le parler mais ils n'arrivent pas à <font color="red"><b>siffler</b></font> une chanson entière. ')

Польский

In [425]:
pairs = []
for i in range(len(df)):
    temp = ['', '']
    temp[0] = df["Nom\xa0de l’animal en polonais"][i]    
    temp[1] = df["Verbe en polonais"][i]
    pairs.append(temp)

print(len(pairs))
print(pairs)

177
[['baranek, jagnię; owca; baran ', 'beczeć - bekać / beknąć'], ['baranek, jagnię; owca; baran ', 'beczeć - bekać / beknąć'], ['baranek, jagnię; owca; baran ', 'beczeć - bekać / beknąć'], ['baranek, jagnię; owca; baran ', 'beczeć - bekać / beknąć'], ['baranek, jagnię; owca; baran ', 'beczeć - bekać / beknąć'], ['pszczoła ', 'brzęczeć'], ['pszczoła ', 'brzęczeć'], ['pszczoła ', 'brzęczeć'], ['trzmiel ', 'buczeć'], ['trzmiel  ', 'buczeć'], ['trzmiel  ', 'buczeć'], ['indyk ', 'bulgotać'], ['indyk ', 'bulgotać'], ['indyk ', 'bulgotać'], ['pszczoła ', 'bzyczeć, bzykać / bzyknąć'], ['pszczoła ', 'bzyczeć, bzykać / bzyknąć'], ['pszczoła ', 'bzyczeć, bzykać / bzyknąć'], ['świnia ', 'chrumkać / chrumknąć (familier)'], ['dzik  [chrum, krum]', 'chrumkać / chrumknąć (familier)'], ['dzik', 'chrząkać / chrząknąć'], ['dzik', 'chrząkać / chrząknąć'], ['dzik', 'chrząkać / chrząknąć'], ['ptak [ciur]', 'ciurkać'], ['dzięcioł', 'ciurkać'], ['słowik', 'ciurkać'], ['gil ', 'ćwierkać / ćwierknąć'], ['kanarek ', 'ćwierkać / ćwierknąć'], ['świerszcz ', 'ćwierkać / ćwierknąć'], ['sikora', 'ćwierkać / ćwierknąć'], ['wróbel  ', 'ćwierkać / ćwierknąć'], ['ptak', 'ćwierkać / ćwierknąć'], ['papuga, papużka falista ', 'ćwierkać / ćwierknąć'], ['kanarek', 'ćwierkać / ćwierknąć'], ['cykada', 'cykać / cyknąć'], ['cykada', 'cykać / cyknąć'], ['świerszcz ', 'cykać / cyknąć'], ['świerszcz ', 'cykać / cyknąć'], ['konik polny [cyk / cyku]', 'cykać / cyknąć'], ['derkacz [der]', 'derkać'], ['ptak [fiu, fiuu / fiut, fiuut]', 'fiukać / fiuknąć'], ['słowik [fiu, fiuu / fiut, fiuut]', 'fiukać / fiuknąć'], ['czapla', 'gdakać / gdaknąć'], ['kura [gdak]', 'gdakać / gdaknąć'], ['kura [gdak]', 'gdakać / gdaknąć'], ['gąsior, gęś ', 'gęgać / gęgnąć, gęgotać (intensivement infix: -ota-)'], ['gąsior, gęś [gę, gęę / gęgu]', 'gęgać / gęgnąć, gęgotać (intensivement infix: -ota-)'], ['gołąb [gru, gruu / gruchu, gruuchu]', 'gruchać'], ['indyk ', 'gulgotać'], ['indyk ', 'gulgotać'], ['gil', 'gwizdać / gwizdnąć'], ['gil', 'gwizdać / gwizdnąć'], ['gil', 'gwizdać / gwizdnąć'], ['kos', 'gwizdać / gwizdnąć'], ['papużka falista', 'gwizdać / gwizdnąć'], ['sowa ', 'huczeć / hukać'], ['sowa ', 'huczeć / hukać'], ['sowa ', 'huczeć / hukać'], ['puszczyk  [hu, huu]', 'huczeć / hukać'], ['pies; szczeniak, szczenię', 'jazgotać'], ['pies; szczeniak, szczenię', 'jazgotać'], ['drozd', 'kląskać'], ['ptak', 'kląskać'], ['słowik', 'kląskać'], ['bocian ', 'klekotać'], ['bocian ', 'klekotać'], ['kawka ', 'krakać'], ['kruk ', 'krakać'], ['wrona', 'krakać'], ['kukułka (male) ', 'kukać / kuknąć'], ['ropucha, żaba', 'kumkać'], ['kaczor; kaczę, kaczątko ', 'kwakać / kwaknąć'], ['świnia [chrum, krum]', 'kwiczeć / kwiknąć'], ['chomik ', 'kwiczeć / kwiknąć'], ['kura [ko-ko]', 'kwokać / kwoktać'], ['baranek, jagnię; owca; baran ', 'meczeć'], ['kozioł (cap) ', 'meczeć'], ['kot ', 'miauczeć / miauknąć'], ['kot ', 'mruczeć / mruknąć'], ['kot ', 'mruczeć / mruknąć'], ['kot ', 'mruczeć / mruknąć'], ['kot ', 'mruczeć / mruknąć'], ['kot ', 'mruczeć / mruknąć'], ['krowa [mu, muu]', 'muczeć'], ['koń', 'parskać / parsknąć'], ['koń', 'parskać / parsknąć'], ['koń', 'parskać / parsknąć'], ['kogut ', 'piać'], ['kogut ', 'piać'], ['kogut ', 'piać'], ['bażant', 'piać'], ['nietoperz ', 'piszczeć / pisnąć'], ['pies; szczeniak, szczenię ', 'piszczeć / pisnąć'], ['pies; szczeniak, szczenię', 'piszczeć / pisnąć'], ['świnka morska ', 'piszczeć / pisnąć'], ['królik', 'piszczeć / pisnąć'], ['kurczak, kurczątko ', 'piszczeć / pisnąć'], ['mysz', 'piszczeć / pisnąć'], ['kawka', 'plegotać'], ['ptak', 'poświstywać'], ['ptak', 'poświstywać'], ['kot', 'prychać'], ['kot', 'prychać'], ['koń', 'prychać'], ['koń', 'prychać'], ['koń', 'prychać'], ['koń', 'prychać'], ['chomik', 'prychać'], ['ropucha, żaba', 'rechotać'], ['osioł', 'ryczeć'], ['wieloryb', 'ryczeć'], ['byk, wół', 'ryczeć'], ['jeleń', 'ryczeć'], ['niedźwiedź', 'ryczeć'], ['tygrys', 'ryczeć'], ['koń', 'ryczeć'], ['daniel', 'ryczeć'], ['łoś', 'ryczeć'], ['słoń', 'ryczeć'], ['jelonek, sarnię', 'ryczeć'], ['czapla', 'ryczeć'], ['lew', 'ryczeć'], ['małpa', 'ryczeć'], ['krowa', 'ryczeć'], ['koń', 'rżeć'], ['pies; szczeniak, szczenię', 'skomleć'], ['pies; szczeniak, szczenię', 'skowyczeć'], ['wilk', 'skowyczeć'], ['sójka', 'skrzeczeć'], ['ropucha, żaba', 'skrzeczeć'], ['chomik', 'skrzeczeć'], ['papużka falista', 'skrzeczeć'], ['sroka', 'skrzeczeć'], ['małpa', 'skrzeczeć'], ['wieloryb', 'śpiewać'], ['łabędź', 'śpiewać'], ['kanarek', 'świergotać'], ['wróbel', 'świergotać'], ['papużka falista', 'świergotać'], ['kanarek', 'świergotać'], ['świstak', 'świstać, świszczeć / świsnąć'], ['świstak', 'świstać, świszczeć / świsnąć'], ['kos', 'świstać, świszczeć / świsnąć'], ['kos', 'świstać, świszczeć / świsnąć'], ['kos', 'świstać, świszczeć / świsnąć'], ['kos', 'świstać, świszczeć / świsnąć'], ['kos', 'świstać, świszczeć / świsnąć'], ['kos', 'świstać, świszczeć / świsnąć'], ['wąż ', 'syczeć / syknąć'], ['wąż ', 'syczeć / syknąć'], ['wąż ', 'syczeć / syknąć'], ['pliszka', 'szczebiotać'], ['drozd', 'szczebiotać'], ['ptak', 'szczebiotać'], ['pies; szczeniak, szczenię ', 'szczekać / szczeknąć'], ['hiena', 'szczekać / szczeknąć'], ['lis', 'szczekać / szczeknąć'], ['skowronek', 'terlikać'], ['kanarek', 'terlikać'], ['sikora', 'terlikać'], ['ptak', 'terlikać'], ['słowik', 'terlikać'], ['kanarek', 'terlikać'], ['pies', 'ujadać'], ['pies', 'ujadać'], ['pies', 'ujadać'], ['pies; szczeniak, szczenię ', 'warczeć / warknąć'], ['pies; szczeniak, szczenię ', 'warczeć / warknąć'], ['pies; szczeniak, szczenię ', 'warczeć / warknąć'], ['pies; szczeniak, szczenię  ', 'wyć'], ['hiena', 'wyć'], ['wilk ', 'wyć'], ['wilk ', 'wyć'], ['wilk ', 'wyć'], ['wilk ', 'wyć'], ['ptak', nan], ['szpak', nan], ['sokół', nan]]

In [427]:
uniq_fr = []
url_set = set()

for item in pairs:
    if item[1] not in url_set:
        url_set.add(item[1])
        uniq_fr.append(item)
    else:
        pass

In [428]:
print(len(uniq_pol))
print(len(uniq_fr))

90
54

In [429]:
for i in uniq_pol:
    if i not in uniq_fr:
        print(i)

['trzmiel  ', 'buczeć']
['dzik  [chrum, krum]', 'chrumkać / chrumknąć (familier)']
['dzięcioł', 'ciurkać']
['słowik', 'ciurkać']
['kanarek ', 'ćwierkać / ćwierknąć']
['świerszcz ', 'ćwierkać / ćwierknąć']
['sikora', 'ćwierkać / ćwierknąć']
['wróbel  ', 'ćwierkać / ćwierknąć']
['ptak', 'ćwierkać / ćwierknąć']
['papuga, papużka falista ', 'ćwierkać / ćwierknąć']
['kanarek', 'ćwierkać / ćwierknąć']
['konik polny [cyk / cyku]', 'cykać / cyknąć']
['słowik [fiu, fiuu / fiut, fiuut]', 'fiukać / fiuknąć']
['kura [gdak]', 'gdakać / gdaknąć']
['gąsior, gęś [gę, gęę / gęgu]', 'gęgać / gęgnąć, gęgotać (intensivement infix: -ota-)']
['kos', 'gwizdać / gwizdnąć']
['papużka falista', 'gwizdać / gwizdnąć']
['puszczyk  [hu, huu]', 'huczeć / hukać']
['kruk ', 'krakać']
['wrona', 'krakać']
['chomik ', 'kwiczeć / kwiknąć']
['kozioł (cap) ', 'meczeć']
['bażant', 'piać']
['pies; szczeniak, szczenię ', 'piszczeć / pisnąć']
['świnka morska ', 'piszczeć / pisnąć']
['królik', 'piszczeć / pisnąć']
['kurczak, kurczątko ', 'piszczeć / pisnąć']
['mysz', 'piszczeć / pisnąć']
['chomik', 'prychać']
['wieloryb', 'ryczeć']
['byk, wół', 'ryczeć']
['jeleń', 'ryczeć']
['niedźwiedź', 'ryczeć']
['tygrys', 'ryczeć']
['daniel', 'ryczeć']
['łoś', 'ryczeć']
['słoń', 'ryczeć']
['jelonek, sarnię', 'ryczeć']
['lew', 'ryczeć']
['małpa', 'ryczeć']
['krowa', 'ryczeć']
['wilk', 'skowyczeć']
['sroka', 'skrzeczeć']
['łabędź', 'śpiewać']
['wróbel', 'świergotać']
['hiena', 'szczekać / szczeknąć']
['lis', 'szczekać / szczeknąć']
['wilk ', 'wyć']
['szpak', nan]
['sokół', nan]

In [521]:
pol_fr = pd.DataFrame(columns=['polonais', 'verb'])
uniq_pol = sorted(uniq_pol)
for i in range(len(uniq_pol)):
    pol_fr.loc[i] = uniq_pol[i]

In [522]:
pol_fr.head(10)

                        polonais                     verb
0  baranek, jagnię; owca; baran   beczeć - bekać / beknąć
1                         bażant                     piać
2                        bocian                  klekotać
3                       byk, wół                   ryczeć
4                         chomik                  prychać
5                        chomik         kwiczeć / kwiknąć
6                         cykada           cykać / cyknąć
7                         czapla         gdakać / gdaknąć
8                         daniel                   ryczeć
9                  derkacz [der]                   derkać

In [525]:
# убираем скобки [] и пробелы

for i in range(len(pol_fr)):
    if '[' in pol_fr['polonais'][i]:
        pol_fr['polonais'][i] = pol_fr['polonais'][i].split(' [')[0]
    pol_fr['polonais'][i] = pol_fr['polonais'][i].strip()
#    pol_fr['francais'][i] = pol_fr['francais'][i].strip()

In [213]:
pol_fr.head(10)

,polonais,francais
0,"baranek, jagnię; owca; baran",agneau; brebis; mouton (voir aussi le bélier e...
1,bażant,faisan
2,bocian,cigogne
3,"byk, wół","bœuf, taureau"
4,chomik,"cochon d’Inde, hamster"
5,chomik,"cochon d’Inde, hamster"
6,cykada,cigale
7,czapla,héron
8,daniel,daim
9,derkacz,roi caille

In [214]:
drops = []
for i in range(1, len(pol_fr)):
    if pol_fr['polonais'][i] == pol_fr['polonais'][i-1] and pol_fr['francais'][i] == pol_fr['francais'][i-1]:
        print(pol_fr['polonais'][i], i)
        drops.append(i)

chomik 5
dzik 12
gil 15
gąsior, gęś 18
kawka 27
kot 32
krowa 36
kura 41
pies; szczeniak, szczenię 54
pies; szczeniak, szczenię 55
ptak 59
ptak 60
słowik 71
trzmiel 74
wilk 78
wróbel 81
świnia 87

In [215]:
# удаляем повторяющиеся

pol_fr = pol_fr.drop(pol_fr.index[drops])
pol_fr = pol_fr.reset_index(drop=True)

In [216]:
# два дф: 1 - одно название животного, 2-несколько

pol_fr_one = pd.DataFrame(columns=['polonais', 'francais'])
pol_fr_mult = pd.DataFrame(columns=['polonais', 'francais'])

punkt = [',', ';', '(']

for i in range(len(pol_fr)):
    if any(x in pol_fr['polonais'][i] for x in punkt) or any(x in pol_fr['francais'][i] for x in punkt):
        pol_fr_mult.loc[len(pol_fr_mult)] = list(pol_fr.iloc[i])
    else:
        pol_fr_one.loc[len(pol_fr_one)] = list(pol_fr.iloc[i])

In [220]:
pol_fr_mult.head()

,polonais,francais
0,"baranek, jagnię; owca; baran",agneau; brebis; mouton (voir aussi le bélier e...
1,"byk, wół","bœuf, taureau"
2,chomik,"cochon d’Inde, hamster"
3,gołąb,"pigeon, colombe"
4,"gąsior, gęś","jars, oie"

In [221]:
pol_fr_one.head()

  polonais francais
0   bażant   faisan
1   bocian  cigogne
2   cykada   cigale
3   czapla    héron
4   daniel     daim

In [381]:
# дф polonais-francais-animal_id

#new_pol_fr_mult['animal_id'] = [0 for i in range(len(new_pol_fr_mult))]
new_anim = []

for i in range(len(new_pol_fr_mult)):
    anim = new_pol_fr_mult['francais'][i]
    if anim not in list(fr_anim['name']):
        print(anim)
        new_anim.append(anim)

cochon d’Inde

In [382]:
new_anim

['cochon d’Inde']

In [324]:
# добавляем недостающих животных в бд Animals

c = conn.cursor()

index = fr_anim['id'][len(fr_anim)-1]

for i in new_anim:
    index += 1
    insert = "INSERT INTO Animals VALUES (" + str(index) + ",'" + i + "')"
    c.execute(insert)
    conn.commit()

In [297]:
fr_anim2 = pd.read_sql_query("select * from Animals;", conn)

In [298]:
fr_anim2[fr_anim2['id'] == 175]

      id        name
174  175  roi caille

In [391]:
for i in range(len(new_pol_fr_mult)):
    anim = new_pol_fr_mult['francais'][i]
    if anim in list(fr_anim['name']):
        d = fr_anim[fr_anim['name']==anim]
        new_pol_fr_mult['animal_id'][i] = int(d['id'])

E:\programs\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [300]:
pol_fr_one.head()

  polonais francais  animal_id
0   bażant   faisan         65
1   bocian  cigogne         41
2   cykada   cigale         40
3   czapla    héron         82
4   daniel     daim         56

In [402]:
# удаляем столбец francais, добавляем lang_id и ставим в правильном порядке

new_pol_fr_mult.drop('francais', axis=1, inplace=True)

new_pol_fr_mult['lang_id'] = [4 for i in range(len(new_pol_fr_mult))]

new_pol_fr_mult = new_pol_fr_mult[['polonais', 'lang_id', 'animal_id']]

In [403]:
new_pol_fr_mult.head()

  polonais  lang_id  animal_id
0  baranek        4          2
1   jagnię        4          2
2     owca        4         17
3    baran        4        106
4     pies        4         36

In [404]:
# записываем в бд AnimalNames

animal_names = pd.read_sql_query("select * from AnimalNames;", conn)

c = conn.cursor()

index = animal_names['id'][len(animal_names)-1]

for i in range(len(new_pol_fr_mult)):
    index += 1
    insert = "INSERT INTO AnimalNames VALUES ("+str(index)+",'"+new_pol_fr_mult['polonais'][i]+"',"+str(new_pol_fr_mult['lang_id'][i])+","+str(new_pol_fr_mult['animal_id'][i])+")"
    c.execute(insert)
    conn.commit()

In [406]:
animal_names = pd.read_sql_query("select * from AnimalNames;", conn)
animal_names['name'][len(animal_names)-1]

'świnka morska'

In [322]:
list(pol_fr_one.loc[0])

['bażant', 4, 65]

In [371]:
# новый дф с одиночными словами

new_pol_fr_mult = pd.DataFrame(columns=['polonais', 'francais'])


for i in range(len(pol_fr_mult)):
    pol_str = pol_fr_mult['polonais'][i]
    fr_str = pol_fr_mult['francais'][i]
    if ',' in pol_str:
        pol = pol_str.split(', ')
    else:
        pol = []
        pol.append(pol_fr_mult['polonais'][i])
    if ',' in fr_str:
        fr = fr_str.split(', ')
    else:
        fr = []
        fr.append(pol_fr_mult['francais'][i])
    if len(fr) == len(pol):
        for l in range(len(pol)):
            new_pol_fr_mult.loc[len(new_pol_fr_mult)] = [pol[l], fr[l]]
    else:
        for x in range(len(pol)):
            for y in range(len(fr)):
                new_pol_fr_mult.loc[len(new_pol_fr_mult)] = [pol[x], fr[y]]

In [373]:
new_pol_fr_mult = new_pol_fr_mult.drop(pol_fr.index[[38,14]])
new_pol_fr_mult = new_pol_fr_mult.reset_index(drop=True)

In [398]:
new_pol_fr_mult['animal_id'][36] = 42

E:\programs\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [407]:
new_pol_fr_mult.head()

  polonais  lang_id  animal_id
0  baranek        4          2
1   jagnię        4          2
2     owca        4         17
3    baran        4        106
4     pies        4         36

In [408]:
polonais = pd.ExcelFile("polonais.xlsx")

In [409]:
polonais.sheet_names

['Sheet1']

In [410]:
verbes = polonais.parse('Sheet1')

In [416]:
verbes = verbes.reset_index(drop=True)

In [418]:
verbes['3e personne du sg'][0]

'beczy'

In [421]:
# добавляем глаголы в бд Verbs

vrbs = pd.read_sql_query("select * from Verbs;", conn)

c = conn.cursor()

index = vrbs['id'][len(vrbs)-1]

for i in range(len(verbes)):
    index += 1
    insert = "INSERT INTO Verbs VALUES ("+str(index)+",'"+verbes['3e personne du sg'][i]+"','"+verbes['Verbe en polonais'][i]+"',4)"
    c.execute(insert)
    conn.commit()

In [422]:
vrbs = pd.read_sql_query("select * from Verbs;", conn)

In [526]:
pol_fr.head()

                       polonais                     verb
0  baranek, jagnię; owca; baran  beczeć - bekać / beknąć
1                        bażant                     piać
2                        bocian                 klekotać
3                      byk, wół                   ryczeć
4                        chomik                  prychać

In [537]:
verb_anim = pd.DataFrame(columns=['verb_id','anim_id'])
animal_names = pd.read_sql_query("select * from AnimalNames;", conn)

for i in range(len(pol_fr)):
#    pol_fr['polonais'][i] = pol_fr['polonais'][i].replace(";", "")
#    pol_fr['polonais'][i] = pol_fr['polonais'][i].replace(",", "")
    p = pol_fr['polonais'][i].split(' ')
    num = []
    for x in range(len(p)):
        a = animal_names[animal_names['name']==p[x]]
        for n in list(a['animal_id']):
            num.append(str(n))
    v = vrbs[vrbs['infin']==pol_fr['verb'][i]]
    for j in num:
        try:
            verb_anim.loc[len(verb_anim)] = [str(int(v['id'])), j]
        except TypeError:
            print(pol_fr['verb'][i], pol_fr['polonais'][i], i)

nan sokół 65
nan szpak 68

In [547]:
verb_anim.head()

  verb_id anim_id
0     217       2
1     217     106
2     217      12
3     217      17
4     248      65

In [544]:
for i in range(1, len(verb_anim)):
    if verb_anim['verb_id'][i]==verb_anim['verb_id'][i-1] and verb_anim['anim_id'][i]==verb_anim['anim_id'][i-1]:
        print(i-1, verb_anim['verb_id'][i-1], verb_anim['anim_id'][i-1])
        print(i, verb_anim['verb_id'][i], verb_anim['anim_id'][i])
        print()

In [549]:
sounds = pd.read_sql_query("select * from SoundsTrans;", conn)

c = conn.cursor()

index = sounds['id'][len(sounds)-1]

for i in range(len(verb_anim)):
    index += 1
    insert = "INSERT INTO SoundsTrans VALUES ("+str(index)+","+verb_anim['verb_id'][i]+",0,4,"+verb_anim['anim_id'][i]+")"
    c.execute(insert)
    conn.commit()